/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
// import Swiper and modules styles
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.wp-block-create-block-simple-swiper {
	.swiper {
		width: 100%;
		height: 100%;

		.swiper-pagination {
			margin-bottom: -10px;
		}
		.swiper-button-prev,
		.swiper-button-next {
			&:after,
			&:before {
				padding: 4px;
				font-size: 24px;
				color: #000;
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
		&-wrapper {
			.swiper-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
