/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
// import Swiper and modules styles
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.wp-block-create-block-simple-swiper {
	.swiper {
		width: 600px;
		height: 400px;
		&-wrapper {
			//height: 100px;
			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
